@mixin create-possible-colours
  .phone-features__possible-colours
    width: 142px
    height: 165px
    background-color: transparent
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
    margin: 0 7px 0 15px
    @media (min-width: 321px)
      order: 3
      width: 325px
      height: 143px
    @media (min-width: 721px)
      width: 223px
      height: 176px
    .possible-colours__image
      width: 60px
      height: 60px
      background-image: url('../img/colours_s10.svg')
    .possible-colours__text
      width: 142px
      height: 85px
      font-weight: 500
      font-size: 12px
      line-height: 17px
      margin: 0
      padding: 0
      @media (min-width: 321px)
        width: 325px
        height: 63px
        font-size: 14px
        line-height: 21px
      @media (min-width: 721px)
        width: 223px
        height: 96px
        font-size: 16px
        line-height: 24px