@import '../accessory-element'

@mixin create-line-block
  .accessories__line-block
    width: 141px
    display: flex
    flex-direction: column
    justify-content: flext-start
    @include create-accessory-element(line-element)