@import 'components/title'
@import 'components/line'
@import 'components/subtitle'
@import 'components/phone-features'
@import 'components/video-img'
@import 'components/video-fetures'
@import 'components/accessories'

@mixin create-main
  .main
    width: 100vw
    display: flex
    flex-direction: column
    @include create-title
    @include create-line
    @include create-subtitle
    @include create-phone-features
    @include create-video-img
    @include create-video-features
    @include create-accessories