@import 'components/title'
@import 'components/line'
@import 'components/subtitle'
@import 'components/phone-features'
@import 'components/video-img'
@import 'components/video-fetures'
@import 'components/accessories'
@import 'components/apps'

@mixin create-main
  .main
    width: 100vw
    display: flex
    flex-direction: column
    @include create-title
    @include create-line
    @include create-subtitle
    @include create-phone-features
    .video-wrapper
      display: flex
      flex-direction: column
      @media (min-width: 321px)
        flex-direction: row
      @include create-video-img
      @include create-video-features
    @include create-accessories
    @include create-apps