@mixin create-line-element
  .line-block__line
    width: 92px
    background-image: linear-gradient(-90deg, #000000 0px, $block-devider 50px)
  .line-block__text
    font-size: 12px
    line-height: 17px