$white: #FFFFFF                   // background color and smartphone presentation text color
$accent: #D70E2A                  // accent color (burger and line)
$border: #EFEFEF                  // border color
$black: #171717                   // Font color + presentation bg color
$grey: #F9F9F9                    // Smartphone name background color