@import 'fonts/ptrootui'
@import 'colors'
@import 'header/header'
@import 'smartphone-name/smartphone-name'
@import 'main/main'

*
  font-family: 'PT Root UI'

body
  margin: 0
  padding: 0
  @include create-header
  @include create-smartphone-name
  @include create-main