@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Medium"), local("PTRootUI-Medium"), url("fonts/Ptrootuimedium.woff2") format("woff2"), url("fonts/Ptrootuimedium.woff") format("woff"), url("fonts/Ptrootuimedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Light"), local("PTRootUI-Light"), url("fonts/Ptrootuilight.woff2") format("woff2"), url("fonts/Ptrootuilight.woff") format("woff"), url("fonts/Ptrootuilight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI"), local("PTRootUI-Regular"), url("fonts/Ptrootui.woff2") format("woff2"), url("fonts/Ptrootui.woff") format("woff"), url("fonts/Ptrootui.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Bold"), local("PTRootUI-Bold"), url("fonts/Ptrootuibold.woff2") format("woff2"), url("fonts/Ptrootuibold.woff") format("woff"), url("fonts/Ptrootuibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body .main .main__video-features .video-features__feature {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body .main .main__video-features .video-features__feature:nth-child(even) {
  margin: 30px 0;
}

body .main .main__video-features .video-features__feature .feature__image {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

body .main .main__video-features .video-features__feature .feature__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

* {
  font-family: "PT Root UI";
  transition-duration: 0.4s;
}

body {
  margin: 0;
  padding: 0;
}
body .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 60px;
  position: relative;
}
@media screen and (max-width: 320px) {
  body .header {
    height: 50px;
  }
}
@media (max-width: 750px) and (min-width: 321px) {
  body .header::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #D70E2A;
    width: 149px;
  }
}
@media (min-width: 751px) {
  body .header::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #D70E2A;
    width: 207px;
  }
}
body .header .header__burger {
  height: 16px;
  width: 24px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px 0 auto;
}
body .header .header__burger-line {
  width: 100%;
  height: 2px;
  background-color: #D70E2A;
}
body .header .header__burger .burger-line-2 {
  margin: 5px 0;
}
body .header .header__logo-e {
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  margin: 0 0 0 15px;
}
@media screen and (max-width: 320px) {
  body .header .header__logo-e {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }
}
body .header .header__logo-m {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  margin: 0 0 0 15px;
}
@media screen and (max-width: 320px) {
  body .header .header__logo-m {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
}
body .smartphone-name {
  display: none;
}
@media screen and (max-width: 320px) {
  body .smartphone-name {
    background-color: #EFEFEF;
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
  }
  body .smartphone-name__text {
    padding: 0;
    margin: 0 0 0 15px;
    font-size: 10px;
    line-height: 14px;
    width: max-content;
    height: max-content;
    color: #171717;
  }
}
body .main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
body .main .main__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  padding: 0 15px;
  margin-bottom: 10px;
}
body .main .main__line {
  width: 290px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  margin: 20px auto;
}
body .main .main__subtitle {
  font-size: 22px;
  line-height: 31px;
  margin: 0 15px 30px 15px;
}
body .main .main__phone-features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
body .main .main__phone-features .phone-features__display, body .main .main__phone-features .phone-features__case {
  width: 290px;
  height: 307px;
  border-radius: 5px;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 40px 15px;
}
body .main .main__phone-features .phone-features__display .display__image-wrap, body .main .main__phone-features .phone-features__case .display__image-wrap {
  width: 260px;
  height: 158px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 20px;
}
body .main .main__phone-features .phone-features__display .display__image-wrap .image-wrap__image, body .main .main__phone-features .phone-features__case .display__image-wrap .image-wrap__image {
  width: 230px;
  height: 158px;
}
body .main .main__phone-features .phone-features__display .display__text, body .main .main__phone-features .phone-features__case .display__text {
  width: 260px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
body .main .main__phone-features .phone-features__possible-colours, body .main .main__phone-features .phone-features__glass {
  width: 142px;
  height: 165px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 7px 0 15px;
}
body .main .main__phone-features .phone-features__possible-colours .possible-colours__image, body .main .main__phone-features .phone-features__glass .possible-colours__image, body .main .main__phone-features .phone-features__glass .glass__image {
  width: 60px;
  height: 60px;
  background-image: url("../img/colours_s10.svg");
}
body .main .main__phone-features .phone-features__possible-colours .possible-colours__text, body .main .main__phone-features .phone-features__glass .possible-colours__text, body .main .main__phone-features .phone-features__glass .glass__text {
  width: 142px;
  height: 85px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}
body .main .main__phone-features .phone-features__glass {
  margin-left: 0;
}
body .main .main__phone-features .phone-features__glass .glass__image {
  background-image: url("../img/gorilla_glass.svg");
}
body .main .main__phone-features .phone-features__case {
  background-color: transparent;
  padding: 0;
}
body .main .main__phone-features .phone-features__case .case__image {
  width: 154px;
  height: 180px;
}
body .main .main__phone-features .phone-features__case .case__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
body .main .main__phone-features .phone-features__case .case__subimage-line {
  width: 290px;
  height: 1px;
  margin: 25px 0 20px 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}
body .main .main__video-img {
  width: 320px;
  height: 170px;
}
body .main .main__video-features {
  display: flex;
  flex-direction: column;
  margin: 30px 15px;
  margin-right: 0;
}
body .main .main__video-features .video-features__feature .feature__image.slowmotion {
  background-image: url("../img/slowmotion.svg");
}
body .main .main__video-features .video-features__feature .feature__image.stabilization {
  background-image: url("../img/stabilization.svg");
}
body .main .main__video-features .video-features__feature .feature__image.quality {
  background-image: url("../img/quality.svg");
}
body .main .main__accessories {
  width: 290px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
body .main .main__accessories .accessories__image-block {
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .main .main__accessories .accessories__line-block {
  width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
