@import 'accessories/accessory-block'

@mixin create-accessories
  .main__accessories
    width: 290px
    display: flex
    flex-direction: column
    margin: 0 0 50px 15px
    @media (min-width: 321px)
      width: 690px
      flex-direction: row
      flex-wrap: wrap
      margin: 0 0 50px 5px
    @media (min-width: 721px)
      flex-wrap: nowrap
    @each $item in (image-block, line-block)
      @include create-accessory-block($item)